.border-box {
	width: 400px;
	padding-top: 30px;
}
.center-div-user button {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	margin-top: 5%;
	margin-bottom: 10%;
}

.form-center {
	margin: 5% auto;
}

.divider {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	text-transform: uppercase;
	text-align: center;
}
.divider__content {
	display: inline-block;
	padding: 0 1em;
	color: #d3d3d3;
}
.divider:after,
.divider:before {
	content: '';
	display: inline-block;
	height: 1px;
	background-color: #f1f1f1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
button svg {
	margin-right: 10px;
}
.textfield input {
	width: 240px;
}
.center-text {
	text-align: center;
	margin-bottom: 0px;
}
.vertical-center {
	margin-top: auto !important;
	margin-bottom: auto !important;
}
ul {
	list-style: none;
}
li {
	line-height: 50px;
}
li svg {
	vertical-align: middle;
	margin-right: 5px;
	margin-left: -10px;
}
.heading-form {
	color: darkslategray;
}
.user svg {
	width: auto;
}
.hr-line {
	margin: 5%;
}
.user {
	overflow: hidden;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid gray;
	border-radius: 1.5%;
  margin-top: 5%;
  margin-bottom: 2.5%;
}
